#root {
  max-width: 900px;
  margin: 1em auto;
  padding: 1rem;
  border: 5px solid black;
  border-radius: 20px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

h1 {
text-decoration: underline;
text-align: center;
}

.heading-was-wer-wann {
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 10em;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-list-element {
  display: flex;
  list-style-type: none;
  width: 85%;
}


.li-list-element {
  display: flex;
}

.li-list-element li {
  width: 200px;
}

.ul-list-btn {
  display: flex;
}

.formContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  margin-bottom: 1em;
}

.form {
  display: flex;
  gap: 2em;
}

.form label {
  margin-right: 2em;
}