#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.heading-was-wer-wann {
  display: flex;
  justify-content: space-around;
  padding: 3em;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ulToDoList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 85%;
}

.formContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20em;
}


.form {
  display: flex;
  gap: 2em;
}

.form label {
  margin-right: 2em;
}